h1 {color:red;}
h2 {color:blue;}
p {font-family:verdana;font-size:100%;color:green}
#kutu1 {background-color: gray;} 
#kutu2{background-color: yellow;padding:10px}
#baslik3{background-color: red;color:white;}  
#baslik1degisik{background-color: blue;color:white;text-align:center;width:200px} 